<div class="row">
    <div class="col-12 text-end d-flex justify-content-md-end justify-content-center">
        {% if is_granted("ROLE_ADMIN") %}
            <div class="row button-group">
                <a href="{{ path('app_program_document_add', {'id': program.id }) }}" title="nuevo">                
                    <button type="button" class="justify-content-center w-100 btn btn-rounded btn-info d-flex align-items-center">                      
                        <i data-feather="plus" class="feather-sm fill-white me-2"></i>Nuevo
                    </button>   
                </a>                 
            </div>
        {% endif %}
    </div>
</div>
<div class="table-responsive table-responsive-document">
    <table id="datatable-documents" class="table display table-bordered table-striped no-wrap">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Año</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if program.documents is defined  and program.documents|length > 0 %}
                {% for document in program.documents %}
                    <tr>
                        <td>{{ document.name }}</td>
                        <td>{{ document.year }}</td>
                        <td>
                            <div class="action-btn">                                                                                         
                                <a href="{{ path('app_document_view_program', {'id': document.id }) }}" class="text-info edit">
                                    <i data-feather="eye" class="feather-sm fill-white"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">No existen documentos para este programa</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>