{% extends 'app.html.twig' %}

{% block title %}Finalizar Registro de tiempo{% endblock %}

{% block content %}
 <div class="row page-titles">
    <div class="col-md-7 col-12 align-self-center">
        {% if person is defined %}
            <h3 class="text-themecolor mb-0">Persona Beneficiaria {{ personInProgram.person.name ~ ' ' ~ personInProgram.person.lastname }}</h3>
        {% else %}
            <h3 class="text-themecolor mb-0">Programa {{ personInProgram.program.name }}</h3>
        {% endif %}
    </div>
    <div class="col-md-5 col-12 align-self-center">
        <div class="d-flex mt-2 justify-content-end">
            <div class="d-flex me-3 ms-2">
                <div class="row button-group">
                    <a href="{{ path('app_person_program_timetable_list', {'id': personInProgram.id}) }}" title="Volver">                
                            <button type="button" class="justify-content-center w-100 btn btn-rounded btn-info d-flex align-items-center">                      
                                    <i data-feather="arrow-left" class="feather-sm fill-white me-2"></i>Volver
                            </button>   
                    </a>                    
                </div>
            </div>
        </div>
    </div>
 </div>

 <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Registro de tiempo</h4>
                    {{ include('timetable/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}